body {
    background-color: black;
    color: darkgoldenrod;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 50px;
}

.typewriter {
    overflow: hidden;
    border-right: .15em solid darkgoldenrod;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(30, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: darkgoldenrod; }
}

.profile-photo {
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

.skills, .about-me, .contact-me {
    padding: 20px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: darkgoldenrod;
    color: black;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: darkgoldenrod;
}
